<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating Database</title>
</head>
<body>
    <form method = "POST">
        <div class="form-group">
            <label for="usr">Firstname:</label>
            <input type="text" name = "fname" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="usr1">Lastname:</label>
            <input type="text" name = "lname" class="form-control" id="usr1">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
    </form>
    
</body> 
</html>